* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #545f5f;
    color: #FBF5F3;
    overscroll-behavior: contain;
}

#stack {
    position: relative;
}

#stack>canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.pause-menu-option-button {
    background-color: transparent;
    color: white;
    border-width: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pause-menu-button-with-radius {
    border-color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-width: 2px;
}